.movie-card {
  margin: 0;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.movie-card__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.movie-card__text-block {
  padding: 14px 12px;
  box-sizing: border-box;
  max-width: 84%;
  min-height: 64px;
}

.movie-card__title {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin: 0;
}

.movie-card__length {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin: 0;
  padding-top: 8px;
}

.movies-card__button {
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies-card__button_type_save {
  background-image: url("./../../images/noneLike.svg");
}

.movies-card__button_type_save-active {
  background-image: url("./../../images/like.svg");
}

.movies-card__button_type_delete {
  background-image: url("./../../images/delete.svg");
}

.movies-card__link {
  display: flex;
  flex-grow: 1;
}

.movies-card__cover {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .movie-card {
    margin-bottom: 40px;
    min-height: 134px;
    max-height: 134px;
    flex-direction: row;
  }

  .movie-card:last-of-type {
    margin-bottom: 30px;
  }

  .movies-card__cover {
    min-width: 220px;
    width: 220px;
    max-width: 220px;
    min-height: 122px;
    height: 122px;
    max-height: 122px;
    margin: 6px;
    box-sizing: border-box;
    order: 1;
  }

  .movie-card__caption {
    flex-direction: column;
    padding: 22px 60px 22px 22px;
    flex: 1 1 auto;
    order: 0;
    overflow: hidden;
  }

  .movie-card__text-block {
    padding: 0;
    max-width: 100%;
    flex: 1 1 auto;
  }

  .movie-card__title {
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .movie-card__length {
    padding-top: 13px;
  }

  .movie-card__button {
    margin: 10px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .movie-card:last-of-type {
    margin-bottom: 10px;
  }
}