.User-link {
  position: absolute;
  right: 70px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: black;
}
  
.User-link:hover {
  transition: 1s;
  opacity: 0.6;
  cursor: pointer;
}
  
.User-link__pic {
    padding: 3px;
}
  
.User-link__title {
  padding: 5px;
  margin: 0;
}

.User-link__button {
  min-width: 96px;
    cursor: pointer;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #AAAAAA;
    border-radius: 18px;
}